.basket-table--content--item > .name > div:first-child {
  max-width: 140px;
  width: 100%;

  & > img {
    max-height: 140px;
    width: 100%;
    object-fit: cover;
  }
}
.basket-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  & > h2 {
    text-align: center;
  }
  &--btns {
    display: flex;
    gap: 12px;
  }
}
.basket {
  &-header {
    min-height: 24.84375vw;
    background-image: url("../../../public/catalog-bg.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    text-align: center;

    & > h2 {
      padding: 100px 0;
      text-shadow: 3px 9px 16px rgba(0, 0, 0, 0.18);
      color: #ffffff;
      font-size: 55px;
      line-height: 1.18182;
      letter-spacing: 0.05em;
      font-weight: 600;
    }
  }

  &-content {
    padding: 100px 0;

    &--wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 32px;

      &--items {
        width: 62.5%;
        display: flex;
        flex-direction: column;
        gap: 12px;
      }

      &--item {
        display: flex;
        box-shadow: 0px 7px 19px rgba(0, 0, 0, 0.25);
        gap: 12px;
        border-radius: 6px;
        padding: 8px;
        position: relative;

        &--count {
          font-family: "Roboto", sans-serif;
          position: absolute;
          right: 8px;
          bottom: 8px;
          display: flex;
          width: 120px;
          font-size: 14px;
          background-color: #f1f0ed;
          border-radius: 6px;
          padding: 6px;
          justify-content: space-between;
          align-items: center;
          font-weight: 600;

          & > p {
            font-size: 15px;
          }

          & > button {
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
          }
        }

        &--content {
          display: flex;
          justify-content: space-between;
          flex-basis: 100%;
          padding: 6px 0;

          &--price {
            margin-right: 32px;
            font-family: "Roboto", sans-serif;

            &--block {
              display: flex;
              flex-direction: column-reverse;
              gap: 2px;
            }

            &--span {
              font-size: 20px;

              &--red {
                color: #fc5230;
              }
            }

            &--close {
              position: relative;
              font-size: 13px;
              color: #8a8784;
              &:before {
                content: " ";
                position: absolute;
                background-color: #fc5230;
                left: -3px;
                right: 8px;
                top: 50%;
                height: 2px;
                border-radius: 2px;
                opacity: 0.8;
                transform: matrix(1, -0.09, 0.07, 1, 0, 0) translateY(-50%);
              }
            }
          }

          &--info {
            display: flex;
            flex-direction: column;
            gap: 6px;

            &--name {
              margin-bottom: 6px;
            }

            &--grey {
              font-size: 13px;
              color: rgb(138, 135, 132);
            }
          }
        }

        &--img {
          & > img {
            max-width: 130px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            border-radius: 6px;
          }
        }
      }

      &--total {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 33.333333333333336%;

        &-price {
          background-color: #f8f7f5;
          border-radius: 20px;
          padding: 18px;

          &--promo {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            font-size: 14px;

            & > span {
              color: #fc5230;
            }
          }

          &--final {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
            font-size: 26px;
          }

          &--header {
            display: flex;
            justify-content: space-between;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}

.basket-order {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;

  & > div {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  & p {
    color: #9b9b9b;
    letter-spacing: 0.1em;
    font-size: 18px;
  }

  & span {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-family: "Roboto", sans-serif;
  }

  & button {
    background-color: #eba793;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    padding: 19px 50px;
    box-shadow: 3px 9px 18px 0 rgba(0, 0, 0, 0.18);
    border-radius: 6px;
    border: 1px solid #eba793;
    transition: all 0.2s ease-in-out;
    letter-spacing: 0.15em;
    color: rgb(21, 21, 21);
    &:hover {
      background-color: #eba89356;
      scale: 1.1;
    }
  }
}

@media screen and (max-width: 1280px) {
  .basket-header > h2 {
    font-size: 44px;
  }
}

@media screen and (max-width: 990px) {
  .basket-header > h2 {
    font-size: 36px;
  }

  .basket-table--content--item p {
    font-size: 16px;
  }

  .basket-table--content--item input {
    font-size: 16px !important;
    width: 28px !important;
    height: 28px !important;
  }

  .basket-table--content--item > .count {
    gap: 0;
  }

  .basket-table--content--item button {
    font-size: 18px !important;
    width: 28px !important;
    height: 28px !important;
  }

  .basket-table--content--item > .name > div {
    // max-width: 90px;

    & > img {
      max-height: 90px;
    }
  }
  .basket-table--header {
    font-size: 14px;
    gap: 8px;
  }
}

@media screen and (max-width: 860px) {
  .basket-content--wrapper {
    flex-direction: column;

    &--total {
      width: 100%;
    }

    &--items {
      width: 100%;
    }
  }

  .basket-header > h2 {
    font-size: 28px;
  }
  .basket-table--content--item p {
    font-size: 14px;
  }
  .basket-table--content--item {
    gap: 4px;

    & > .name > div:last-child > p:last-child {
      font-size: 12px;
      display: flex;
      flex-direction: column;

      & > span {
        font-size: 14px;
        margin-left: 0;
      }
    }
  }
  .basket-order {
    & p {
      font-size: 16px;
    }
    & span {
      font-size: 18px;
    }
    & > button {
      padding: 14px 28px;
      font-size: 13px;
    }
  }
  .basket-content {
    padding: 40px 0;
  }

  .basket-content--wrapper--total-price--final {
    font-size: 18px;
  }

  .basket-content--wrapper--item--content--price {
    margin-right: 12px;
  }

  .basket-content--wrapper--item--content--info--name {
    font-size: 14px;
  }

  .basket-content--wrapper--item--content--info--grey {
    font-size: 12px;
  }
}

.price-small {
  font-size: 13px;
}

@media screen and (max-width: 440px) {
  .basket-content--wrapper--item--content {
    flex-direction: column;
  }

  .basket-content--wrapper--item--content--price--close {
    align-self: flex-start;

    &::before {
      right: -3px;
    }
  }

  .basket-content--wrapper--item--content--price--span {
    margin-top: 2px;
    font-size: 14px;
  }

  .basket-content--wrapper--item--content--price--close {
    font-size: 12px;
  }

  .basket-content--wrapper--item--content--price--block {
    gap: 0;
  }
  .basket-content--wrapper--item--content--info {
    gap: 4px;
  }
  .basket-content--wrapper--item--content--info--name {
    margin-bottom: 2px;
  }
  .basket-content--wrapper--item--count {
    width: 90px;
    padding: 4px;

    & > p {
      font-size: 14px;
    }
  }

  .basket-content--wrapper--total-price {
    border-radius: 12px;
    padding: 14px;
  }

  .basket-content--wrapper--total-price--final {
    margin-top: 12px;
  }
  .basket-content--wrapper--item--img > img {
    max-width: 90px;
  }

  .basket-order {
    gap: 12px;
    justify-content: space-between;

    & > div {
      flex-direction: column;
    }

    & span {
      margin-left: 0;
    }
  }
  .basket-table--header {
    padding: 10px 13px;
  }
  .basket-table--content--item {
    padding: 6px 8px;
  }
}
