.create-order--header {
  min-height: 24.84375vw;
  background-image: url("../../../public/catalog-bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;

  & > h2 {
    padding: 100px 0;
    text-shadow: 3px 9px 16px rgba(0, 0, 0, 0.18);
    color: #ffffff;
    font-size: 55px;
    line-height: 1.18182;
    letter-spacing: 0.05em;
    font-weight: 600;
  }
}

.create-order {
  & > .wrapper {
    padding: 120px 0;

    & > div {
      margin-bottom: 12px;
    }
  }

  &--products {
    margin-bottom: 12px;

    &--title {
      margin: 12px 0;
      font-size: 24px;
    }
  }

  &--product {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e1e1e1;

    &--image {
      border-radius: 8px;
      overflow: hidden;
      max-width: 200px;
      width: 100%;

      & > img {
        height: 100%;
        width: 100%;
      }
    }

    &--content {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &--title {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 12px;
      }

      &--p {
        font-size: 14px;
      }

      &--span {
        font-size: 16px;
        letter-spacing: 0.03em;
        &-number {
          font-family: "Roboto", sans-serif;
        }
      }

      &--total {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        letter-spacing: 0.03em;
        font-size: 18px;
      }

      &--bottom {
        height: 100%;
        display: flex;
        align-items: end;
        padding-bottom: 8px;

        & > p {
          font-size: 16px;
        }
      }
    }
  }
}

.order-create--btns {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

@media screen and (max-width: 1280px) {
  .ccreate-order--header > h2 {
    font-size: 44px;
  }
}

@media screen and (max-width: 990px) {
  .create-order--header > h2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 860px) {
  .create-order--header > h2 {
    font-size: 28px;
  }

  .create-order > .wrapper {
    padding: 36px 24px;
  }

  .create-order--product {
    gap: 12px;

    &--image {
      max-width: 130px;
    }

    & p {
      font-size: 14px;
    }

    & h4 {
      font-size: 16px;
    }
  }

  .create-order--products--title {
    font-size: 18px;
    margin: 0;
  }
  // .contacts-content {
  //   flex-direction: column;
  //   margin: 40px auto;
  //   padding: 24px;

  //   & h3 {
  //     margin-bottom: 0;
  //     font-size: 14px;
  //   }

  //   & > div {
  //     flex-basis: 100%;
  //     padding: 15px 0;
  //   }
  // }
}
