.button {
  background-color: #eba793;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  padding: 19px 50px;
  box-shadow: 3px 9px 18px 0 rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  border: 1px solid #eba793;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.15em;
  color: rgb(21, 21, 21);
  &:hover {
    background-color: #eba89356;
    scale: 1.1;
  }
}

.button-sx {
  font-size: 14px;
  letter-spacing: 0.1em;
  border-radius: 4px;
  padding: 10px 25px;
}

@media screen and (max-width: 990px) {
  .button {
    padding: 16px 35px;
  }
}

@media screen and (max-width: 880px) {
  .button {
    padding: 14px 28px;
  }
}
