.category {
  &-list {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    gap: 24px;

    &--el {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;

      &-btns {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  &-create {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    gap: 12px;
  }
}
